<%= form_for raffle do |r| %>

  <% if raffle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raffle.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% raffle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="fieldset">
    <%= r.label :title %>
    <%= r.text_field :title %>
  </div>
  
  <div class="fieldset">
    <%= r.label :item %>
    <%= r.text_field :item %>
  </div>

  <div class="fieldset">
    <%= r.label :goal %>
    <%= r.text_field :goal %>
  </div>

  <div class="fieldset">
    <%= r.label :description %>
    <%= r.text_area :description %>
  </div>

  <%= r.submit %>
<% end %>
