<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success btn-sm" id="user-currency" data-toggle="modal" data-target="#exampleModal">
  <%= number_to_currency(current_user.funds) %> 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Funds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for current_user, url: funds_path, class: "center", method: :patch do |u|%>
          <%= u.label :funds %>
          <%= u.number_field :funds, value: number_to_currency(current_user.funds), step: :any %>
      </div>
      <div class="modal-footer">
          <%= u.submit "Add Funds", class: "btn btn-primary" %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload();">Close</button>
      </div>
    </div>
  </div>
</div>