<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-4">

      <h1><%= @raffle.title %></h1>
      <% if current_user != @raffle.user %>
        <p><strong>Owner: </strong><%= link_to @raffle.user.username, user_raffles_path(@raffle.user) %></p>
      <% end %>
      <p><strong>Item: </strong><%= @raffle.item %></p>
      <p><strong>Goal: </strong><%= number_to_currency(@raffle.goal) %></p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar"  style="width: <%= percentage @raffle %>%" aria-valuenow="<%= @raffle.amount.to_int %>" aria-valuemin="0" aria-valuemax="<%= @raffle.goal.to_int %>"></div>
      </div>
      <p><strong>Cost: </strong><%= number_to_currency(@raffle.cost) %></p>
      <p><strong>Description: </strong><%= @raffle.description %></p>
      

      <% if current_user == @raffle.user %>
        <%= link_to "View Entered users", raffle_entered_users_path(@raffle), class: "btn btn-primary"  %>
      <% end %> 

      <br>
      <% if @raffle.winner.nil? %>
        <% if !user_signed_in? %>
          <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> 
        <% elsif current_user != @raffle.user && !@raffle.entered_users.include?(current_user) %>
          <%= button_to "Enter", raffle_entries_path(@raffle), class:"btn btn-success", method: :post%>
        <% elsif @raffle.entered_users.include?(current_user) && !is_complete?(@raffle) %>
          <input class="btn btn-success" type="submit" value="Entered" disabled>
        <% elsif is_complete?(@raffle) %>
          <input class="btn btn-success" type="submit" value="Ended" disabled>
        <% end %>
        <%= link_to "edit", edit_raffle_path if current_user == @raffle.user %>
      <% else %>
        <h2>The Winner is <%= link_to @raffle.winner.username, user_path(@raffle.winner) %></h2>
      <% end %> 

      
    </div>
  </div>
</div>