<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <%= link_to "Raffle Dazzle", root_path %>
    <div class="collapse  navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Browse", browse_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
          <%= link_to "My raffles", user_raffles_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <%= link_to "New Raffle", new_raffle_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">Action</a> -->
            <%= link_to "View Account", user_path(current_user), class: "dropdown-item" %>
            <!-- <a class="dropdown-item" href="#">Another action</a> -->
            <%= link_to "Entered raffles", raffle_entries_path(current_user), class: "dropdown-item" %>  
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            <%= link_to "logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
        <li class="nav-item">
          <%= render "raffles/modal" %>
        </li>
      </ul>
      <%= render 'layouts/search_bar' %>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <%= link_to "Raffle Dazzle", root_path %>
    <div class="collapse  navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Browse", browse_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <%= render 'layouts/search_bar' %>
  </nav>
<% end %>
